body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 0px 15px;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    position: relative;
}

header .navbar ul li a.active::before {
    content: '';
    height: 3px;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -1px;
}

.skill {
    min-height: 100vh;
    padding-top: 73px;
}

.skill .container {
    min-height: 100vh;
}

.skill .container .skill-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skill .container .skill-content .text {
    padding-top: 20px;
    color: white;
    margin: 0;
}

.skill .container .skill-content .text .title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700px;
    color: white;
    margin: 0px;
    position: relative;
    margin-bottom: 10px;
}

.skill .container .skill-content .text .title h1::before {
    content: '';
    left: 0;
    height: 2px;
    background-color: yellow;
    bottom: 0px;
    position: absolute;
    right: 30%;
}

.skill .container .skill-content .text .title p {
    color: gray;
}

.skill .container .skill-content .text .title {
    margin-bottom: 50px;
}

.skill .container .skill-content .text .item {
    flex: 0 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
    margin-top: 10px;
    direction: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid yellow;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.skill .container .skill-content .text .item label {
    font-size: 20px;
    font-weight: 600;
}

.progress {
    position: relative;
    width: 100%;
    height: 20px;
    border: 2px solid yellow;
    border-radius: 20px;
    margin-top: 7px;
}

.myBar {
    position: absolute;
    background-color: yellow;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.java,
.android,
.c,
.web-design {
    width: calc(0 - 6px);
}

  